<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TerminosCondiciones</title>
    <link rel="stylesheet" href="terminoscondiciones.component.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>

<body>
     <div class="login-container">

   
    <a href="#" class="back-link">
      <i class="fa-solid fa-arrow-left"></i>Volver al Inicio
    </a>

    
    <div class="brand-header">
      <div class="brand-icon">
        <img src="/logotipo.png" alt="Logo Naturals Samada" class="brand-logo">
      </div>
      <div class="brand-text">
        <h2>Natural's Samada</h2>
        <p>Farmacia Naturista</p>
      </div>
    </div>

    <main>
      <section class="menu">
        <h2>Términos y Condiciones</h2>
        <p>
          Al inscribirme a Natural Samada, autorizo de manera libre e informada, el tratamiento de mis datos personales a DROGUERÍAS Y
          FARMACIAS naturistas S.A.S. en adelante Natura Samada, y a sus aliados, incluidos los sensibles de salud, para todo lo
          relacionado con la prestación del servicio y fines comerciales, entre otros: dar trámite a la solicitud realizada, dispensar los
          productos y servicios que comercializamos, mejorar continuamente la atención, realizar actividades de mercadeo, invitarlo a
          participar de actividades promocionales, sorteos y ofertas, entregar información de los productos y servicios de aliados
          comerciales, dar a conocer información y noticias de interés; entre otros. Las comunicaciones derivadas de las anteriores
          finalidades se podrán realizar a través de cualquier medio. La información personal que el cliente suministra se utilizará solo
          para los fines autorizados por el cliente, y se encuentra almacenada en nuestros servidores, contando con todas las medidas de
          seguridad físicas, técnicas y administrativas para evitar su pérdida, adulteración, uso fraudulento o no adecuado. El cliente
          tiene derecho a conocer, actualizar y corregir sus datos personales, así mismo, podrá solicitar la supresión o revocar la
          autorización otorgada para su tratamiento. En caso de un reclamo o consulta relativa a sus datos personales, puede realizarla a
          través del correo electrónico <strong>habeasdata&#64;Naturals.com.co</strong> y/o canales de comunicación establecidos en la
          política de tratamiento de datos de Cruz Verde.

          <strong><h3>TÉRMINOS Y CONDICIONES PROGRAMA DE BENEFICIOS NATURAL SAMADA COLOMBIA</h3></strong>
          NATURAL SAMADA COLOMBIA es un Programa de Beneficios, que ha sido creado especialmente con el propósito de generar conciencia 
          en cuanto a la prevención y promociones en temas de salud que está dirigido a los afiliados del mencionado Club, lo que les permitirá
          el acceso a información de interés y otros beneficios a los cuales se puede acceder de conformidad con las condiciones y restricciones 
          establecidas para ello por parte de Droguerías y Farmacias NaturalS. S.A.S.
          En este sentido, los afiliados al Club NaturalS. tienen la posibilidad de acceder a una serie de beneficios dentro de los cuales se 
          incluyen: i) descuentos generales, ii) precios preferenciales en referencias específicas, iii) eventos exclusivos, iv) beneficios a 
          través de alianzas con otras empresas, entre otros.
        </p>
      </section>
    </main>

  </div> 

  <!-- FOOTER -->
  <footer class="footer">
    <div class="container footer-grid">
      <div>
        <h3>Información de Contacto</h3>
        <p>📞 +57 3166412518</p>
        <p>📧 samada&#64;gmail.com</p>
        <p>📍 Popayán, Cauca</p>
      </div>
      <div>
        <h3>Horarios de Atención</h3>
        <p>Lunes a Viernes: 9:00 AM - 6:00 PM</p>
        <p>Sábados: 9:00 AM - 6:00 PM</p>
      </div>
      <div>
        <h3>Natural's SAMADA</h3>
        <p>El mejor socio para un plan de vida saludable</p>
        <p class="licencia">Licencia sanitaria: COFEPRIS-123456</p>
      </div>
    </div>

    <div class="footer-bottom">
      <p>© 2025 Natural's Samada Farmacia Naturista. Todos los derechos reservados.</p>
    </div>
  </footer>


</body>
</html>